.jobListContainer {
    width: 100%;
    min-height: calc(100vh - 20px);
    display: flex;
    flex-direction: row;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    flex: 0.2;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list {
    display: flex;
    flex: 0.8;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
